<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 text-center">
      <button [routerLink]="['/submit-code']" class="btn btn-block btn-info mb-3" >Submit Code</button>
      <h1>Table of winners</h1>
      <table class="table table-striped table-sm bg-warning mt-2">
          <tr>
            <th>Fullname</th>
            <th>Email</th>
            <th>Award</th>
          </tr>
          <tr *ngFor="let winner of winners">
            <td>{{ winner.userCode.firstName }} {{ winner.userCode.lastName }}</td>
            <td>{{ winner.userCode.email }}</td>
            <td>{{ winner.award.awardName }}</td>
          </tr>
      </table>
    </div>
  </div>
</div>
